.pedal {
  border: 1px solid #cdcdcd;
  padding: 20px;
  float: left;
  min-width: 350px;
  margin: 10px;
  min-height: 300px;
  position: relative;
}

.pedal h4 {
  text-align: center;
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.pedal .btn.toggle {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  position: absolute;
  bottom: 25px;
  right: 50%;
  -webkit-transform: translate(50%, 0);
}

#tuner .pitch {
  width: 100px;
  height: 100px;
  font-size: 40px;
  border: 1px solid #cdcdcd;
  text-align: center;
  line-height: 100px;
  margin: 0 auto;
}

#tuner canvas.detune {
  width: 300px;
  height: 20px;
  margin-top: 10px;
}